<!DOCTYPE html>
<html>

<head>
    <title>
        Hästarna
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Mata in ett jävla nummer!
    </h1>
    <form method="GET" action="/newcalc">
        <input type="text" placeholder="SIFFFFFFFRA" name="val1">
        <h2>*</h2>
        <input type="text" placeholder="SIFFFFFFFRA" name="val2">
        <button type="submit">SKICKA</button>

    </form>

    <h1>
        <%= sum %>
    </h1>
</body>

</html>